.email {
	cursor: pointer;
	transition: 0.2s ease-in-out;
}
.email:hover {
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
		rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
		rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
#delete-conversation-modal {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(163, 160, 160, 0.63);
}

svg {
	width: 20px;
	height: 20px;
	margin-right: 0 !important;
	cursor: pointer;
}

.truncate {
	max-width: 100px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
